.photoGallery {
  margin-bottom: 50px;
}

.wrapper {
  display: grid;
  position: relative;
  gap: 1.25rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.mainPhoto {
  position: relative;
  height: 420px;
  border-radius: 1rem;
  overflow: hidden;
  border-radius: 1rem;
}

.hiddenBlock {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.mdHiddenBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    display: none;
  }
}