.propertiesList {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
}

.property {
  margin-top: 120px;
  background-color: #f3f5f7;
}

.wrapper {
  
  @media screen and (min-width: 768px){
    display: flex;
    gap: clamp(1.25rem, 0.909rem + 1.7vw, 2.188rem);
  }
}

.mainContent {
  background-color: #fff;
  padding: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
  border-radius: 10px;
  
  @media screen and (min-width: 768px){
    flex: 1;
  }

  @media screen and (min-width: 1110px){
    flex: 2;    
  }
}

.propertyTitle {
  font-size: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
  font-weight: 700;
  color: #48368d;
  margin-bottom: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
  line-height: 1.2;
}

.order {
  background-color: #fff;
  padding: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
  border-radius: 10px;
  height: fit-content;
  
  @media screen and (min-width: 768px){
    flex: 1;
    position: sticky;
    top: 120px;
  }
}

.scrollToMap {
  color: #48368d;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  display: inline-flex;
  align-items: baseline;
  gap: 0.3rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.propertyData {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.propertyDataText {
  color: rgb(64, 64, 65);
  font-size: 16px;
  line-height: 1.4;
}

.data {
  color: rgb(64, 64, 65);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.propertySubtitle {
  font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
  font-weight: 700;
  color: #48368d;
  margin-bottom: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
}

.price {
  font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
  font-weight: 700;
  color: #48368d;
  margin-bottom: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
}

.mb {
  margin-bottom: 1rem;
}

.propertiesSection {
  padding: 50px 0;
  margin-top: 100px;
}

.propertiesWrapper, .blogPostsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
}

.blogPosts {
  padding: 150px 0;
}

.blogPostsMainPage {
  padding: 50px 0;
}

.postsBlock {
  padding: 15px;
  border: 1px solid #25064D;
  border-radius: 10px;
}

.blogPost {
  margin: 120px 0 80px 0;
  background-color: #f3f5f7;
}

.blogPostTitle {
  font-size: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
  font-weight: 700;
  color: #48368d;
  margin-top: 15px;
  margin-bottom: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
}

.blogPostDate {
  color: #48368d;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.blogPostImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 16/8;
  margin-bottom: 1.5rem;
}