.latestSalesProperties {
  padding: 50px 0;
}

.propertiesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 50px;
  gap: 20px;
}

.propertyItem {
  flex: 0 1 100%;

  @media (min-width: 768px) {
    // flex: 0 1 calc(33.3333% - 20px);
    flex: 0 1 calc(50% - 10px);
  }
}

.seeAllBtn {
  display: block;
  margin: 0 auto;
  padding: 16px 22px;
  // background-color: #800080;
  color: #800080;
  // border: 1px solid #800080;
  border-radius: 45px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.28);

  &:hover {
    background-color: #fff;
    color: #800080;
  }
}