.contactSectionProperties {
  padding-top: clamp(2.5rem, 1.136rem + 6.82vw, 6.25rem);
  padding-bottom: clamp(2.5rem, 1.136rem + 6.82vw, 6.25rem);
  background-color: #f9f9f9;
  background-image: linear-gradient(
    to bottom,
    rgba(12, 12, 11, 0.8),
    rgba(12, 12, 11, 50%)
  ), url("../../images/bg-contact.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 70%;
  }
  @media screen and (min-width: 980px) {
    width: 50%;
  }
}

.formWrapper {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
  color: #48368d;
}

.description {
  font-size: 1.125rem;
  margin-bottom: 26px;
  color: #000;
  text-align: center;
}